html {
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 320px;
  min-height: 100vh;
  margin: 0; 
  padding: 30px;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #4d2323;
  }

  * {
    box-sizing: border-box;
  }

  main {
  
  }
  .main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .section {
    width: 50%;
  }
  .section-title {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #829985;
  }
  @media (max-width: 768px){
    .section {
      width: 100%;
    }
  }
  .container {
    max-width: 1440px;
    margin: 0 auto;
  }
  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }
  .nav-link {
    padding: 0 20px;
    line-height: 50px;
    transition:  0.3s;
    text-decoration: none;
  }
  .nav-item a {
    color: #829985;
    text-decoration: none;
    transition: color 0.5s;
  }
  .nav-item a:hover {
    color: #4d2323;
    text-decoration: underline;
  }
  .section-item {
    position: relative;
    padding-left: 30px;
    list-style-type: none;
  }   
  .section-item::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0px;
    width: 10px;
    height: 10px; 
    border: 1px solid #829985;
    border-radius: 50%;
  }
  .section-item a {
    text-decoration: none;
  }
  .section-item a:hover {
    text-decoration: underline;
  }
  .div-footer a {
    padding-left: 30px;
  }
  .footer img {
    width: 100px;
  }


  input {
    padding: 0;
    margin: 0;
    accent-color: black;
    width: 15px;
    height: 15px;
  }
  .input-wrapper {
    padding: 0;
    margin: 0;    
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid black;
  }